<mat-card>
  <div [ngClass]="{flex: fullWidthMode}">
    <!-- Se fullWidthMode for falso a altura fica 200px se não fica 360px -->
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>sports</h5>
        <p
          class="truncate hover:whitespace-normal"
        >
          Bola de futebol
        </p>
        <p *ngIf="fullWidthMode">
          comida
        </p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ 1500 | currency }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
