<mat-card>
  <div>
    <img
      class="mb-1 mx-auto"
    />
    <div
      class="w-full"

    >
      <div>
        <h5>sports</h5>
        <p
          class="truncate hover:whitespace-normal"
        >
          Bola de futebol
        </p>
        <p>
          comida
        </p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ 1500 | currency }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
